<div class='interests'>
  <h1>Interests</h1>
  <p>Yes yes yes, I do have lots of interests...but I am still not quite sure what I am going to put here yet...might change this section to code snippits! Or something like that. Regardless, some things that intrest me...Star Wars, Lord of the Rings, Maps, Funny Shirts, Cool Gadgets, Mulan, Writing, Dinosaur Humor (below images), Archery, BBC RAIDO 1 (mostly Annie Mac). You know, the usual interests :)</p>
  <%= image_tag "saddinosaur.png", :class => 'int-img'%>
  <%= image_tag "mammals.jpg", :class => 'int-img' %>
  <%= image_tag "trexwish.jpg", :class => 'int-img' %>
</div>