<div class='row-fluid portfolio'>
  <div class='span12 heading'>
    <div class='row-fluid'>
      <div class='head pull-left'>
        <h1>Portfolio</h1>
      </div>
      <div class='sub-head pull-left'>
        <p>Work, Education and Experiences that have shaped who I am as a professional</p>
      </div>
    </div>
  </div>
  <div class='row-fluid'>
    <ul class='nav nav-tabs span12'>
      <li class='work span4'>
        <a href="#work" data-toggle="tab">Work</a>
      </li>
      <li class='education span4'>
        <a href="#education" data-toggle="tab">Education</a>
      </li>
      <li class='experiences span4'>
        <a href="#experiences" data-toggle="tab">Experiences</a>
      </li>
    </ul>
  </div>
  <div class='row-fluid'>
    <div class="tab-content span12">
      <div class="tab-pane work active" id="work" >
        <div class='job-container warp9'>
          <h3>Warp9 Inc.</h3>
          <dl>
            <dt>Position</dt>
            <dd>Web Developer</dd>
            <dt>Start Date</dt>
            <dd>September 4th, 2012</dd>
            <dt>Responsibilities</dt>
            <dd>Worked as a Mobile Web Developer for large exsisting E-commerce sites. Used the 'Agile' development philosophy to tackle short and demmanding development cycles. Refined my CSS3, Javascript, HTML and DOM manipulation skills. Learned what third party frameworks and plug-in's are bad, and which are awesome (cough Rails).</dd>
          </dl>
          <hr>
        </div>
      </div>
      <div class="tab-pane education" id="education" >

      </div>
      <div class="tab-pane experiences" id="experiences" >

      </div>
    </div>
  </div>
</div>
