<div class='portfolio'>
  <header class='header'>
    <div class='row-fluid'>
      <div class='head pull-left'>
        <h1>Portfolio</h1>
      </div>
      <div class='sub-head pull-left'>
        <p>Work, Education and Experiences that have shaped who I am as a professional</p>
      </div>
    </div>
  </header>
  <div class='row-fluid'>
    <ul class='nav nav-tabs span12'>
      <li class='work span4'>
        <a href="#work" data-toggle="tab">Work</a>
      </li>
      <li class='education span4'>
        <a href="#education" data-toggle="tab">Education</a>
      </li>
      <li class='experiences span4'>
        <a href="#experiences" data-toggle="tab">Experiences</a>
      </li>
    </ul>
  </div>
  <div class='row-fluid'>
    <div class="tab-content span12">
      <article class="tab-pane work active" id="work" >
        <section class='job-container warp9'>
          <h3>Warp9 Inc.</h3>
          <dl>
            <dt>Position</dt>
            <dd>Mobile Web Developer</dd>
            <dt>Employment Period</dt>
            <dd>September 4th, 2012 - Current</dd>
            <dt>Responsibilities</dt>
            <dd>Work as a Mobile Web Developer for large E-commerce sites such as <a href='http://m.jared.com'>Jared</a>, <a href='http://m.kay.com/'>Kay</a>, <a href='http://m.warehouse.co.uk/'>Warehouse</a>, <a href='http://m.coast-stores.com'>Coast</a>, <a href='http://m.karenmillen.com/'>Karen Millen</a>, and <a href="http://m.oasis-stores.com">Oasis</a>. Use the 'Agile' development philosophy to tackle short and demmanding development cycles. Constantly refining my CSS3, Javascript, HTML5 and DOM manipulation skills. Learning what third party frameworks and plug-in's are bad in a Mobile E-commerce environment, and which are awesome (cough Rails).</dd>
            <dt>Company Info</dt>
            <dd><a href='http://www.warp9inc.com/'>Warp9 Homepage</a></dd>
          </dl>
          <hr>
        </section>
        <section class='job-container gifiniti'>
          <h3>Gifiniti</h3>
          <dl>
            <dt>Position</dt>
            <dd>Front-End Web Developer</dd>
            <dt>Employment Period</dt>
            <dd>April 4th, 2012 - November 19th, 2012</dd>
            <dt>Responsibilities</dt>
            <dd>Built the UI/UX for a Start-Up called Gifiniti. Competed in the <a href='http://www.uctv.ucsb.edu/2012/tmp/4765newventure.html'>13th Annual New Venture Competition</a> and recieved the award for 4th place.</dd>
          </dl>
          <hr>
        </section>
        <section class='job-container geog'>
          <h3>UCSB, Department of Geography</h3>
          <dl>
            <dt>Position</dt>
            <dd>Intern for the GeoTrans Lab</dd>
            <dt>Employment Period</dt>
            <dd>July 10th, 2011 - July 21st, 2012</dd>
            <dt>Responsibilities</dt>
            <dd>Analyized over 40,000 data entries for a transportation study in an effort to GeoReference Spatial Data that were incorrectly located by the Google Maps API. Worked with Graduate Students, Ph.D candidates and my Professor <a href='http://www.geog.ucsb.edu/people/faculty/kostas-goulias.html'>Kostas Goulias</a> to debrief and critically critique thier dissertations and research.</dd>
          </dl>
          <hr>
        </section>
        <section class='job-container resident-assistant'>
          <h3>UCSB, Residence Halls Association</h3>
          <dl>
            <dt>Position</dt>
            <dd><a href='http://appl.housing.ucsb.edu/InHouse/ra/applications/RA-Job-Description-2009.pdf'>Resident Assistant</a></dd>
            <dt>Employment Period</dt>
            <dd>August 9th, 2009 - July 4th, 2011</dd>
            <dt>Responsibilities</dt>
            <dd>Helped supervisie, educate and mentor UCSB freshmen. Developed skills in planning, assessment, administration, counseling, conflict resolution, crisis management, facilities management, staff development, leadership, and public speaking. Trained extensively in issues involving alcohol/drug abuse, and balancing a rigorus academic workload with an inticing social atmosphere.
            </dd>
          </dl>
        </section>
      </article>
      <article class="tab-pane education" id="education" >
        <section class='edu-container college'>
          <h3>University of California, Santa Barbara</h3>
          <dl>
            <dt>Degree</dt>
            <dd>Bachlor of Arts in Geography with an Emphasis in GIS</dd>
            <dd> - Significant coursework in Computer Science</dd>
            <dt>G.P.A.</dt>
            <dd>3.61</dd>
            <dt>Accolades</dt>
            <dd>Distinction in the Major, Outstanding Achievement as a Geography Major</dd>
          </dl>
          <hr>
        </section>
        <section class='edu-container internet'>
          <h3>Webucation!</h3>
          <p>at least, that is what I describe it as - Education <em>from</em> the Web. Most of the specific Web Development knowledge I have aquired has been from a frequent and insatiable scouring of blogs, forums, e-books, videos, newsletters, etc. Here are my favorite ones.</p>
          <dl>
          <dt>Websites for Learning</dt>
            <dd><a href="https://teamtreehouse.com/">Team Treehouse</a></dd>
            <dd><a href="http://www.codecademy.com/">Code Academy</a></dd>
            <dd><a href="https://www.edx.org/">edX</a></dd>
            <dd><a href="http://railscasts.com/">Rails Casts</a></dd>
            <dd><a href="http://railsforzombies.org/">Rails For Zombies</a></dd>
            <dd><a href="http://tryruby.org/">Try Ruby</a></dd>
          <dt>References and Research</dt>
            <dd><a href="http://css-tricks.com">CSS-Tricks</a></dd>
            <dd><a href="http://stackoverflow.com">Stackoverflow</a> - almost a given</dd>
            <dd><a href="http://www.w3schools.com/">w3schools</a></dd>
          </dl>
        </section>
      </article>
      <article class="tab-pane experiences" id="experiences" >
        <section class='exp-container ito'>
          <h3>Iarona Te Otea</h3>
          <p>UCSB's Premier Polynesian dance club</p>
          <dl>
            <dt>Leadership Roles</dt>
            <dd>Tane(Men) Practice Coordinator, Drill Master, Costume Coordinator, New Member Representitive, and Social Events Coordinator</dt>
            <dt>Duration</dt>
            <dd>4 years</dd>
          </dl>
          <hr>
        </section>
        <section class='exp-container toastmasters'>
          <h3>Toastmasters</h3>
          <p>UCSB's chapter of the highly recognized speech and leadership organization - Toastmasters International</p>
          <dl>
            <dt>Position</dt>
            <dd>Member</dt>
            <dt>Duration</dt>
            <dd>2 years</dd>
          </dl>
          <hr>
        </section>
        <section class='exp-container soccer'>
          <h3>Intramural Soccer</h3>
          <p>Soccer is what I am doing when I am not developing (although, sometimes I attempt to juggle while I code but that never seems to work out). It has been a huge part of my upbringing and has taught me many valuable lessons that I could not have learned anywhere else.</p>
          <dl>
            <dt>Position</dt>
            <dd>Striker/Goalkeeper/Manager</dt>
            <dt>Duration</dt>
            <dd>16 years</dd>
            <dt>Favorite Player</dt>
            <dd><a href="http://en.wikipedia.org/wiki/Zlatan_Ibrahimovi%C4%87">Zlatan Ibrahimovic</a></dd>
          </dl>
        </section>
      </article>
    </div>
  </div>
</div>
