 @import "variables";

.home {
  background-color: $blue-alpha;
  padding: 1px 20px 10px;
  .welcome-copy-cnt{
    width: 50%;
    display: inline;
  }
  p{
    color: $white - #222;
    font-size: 17px;
  }
  a{
    font-size: 17px;
    color: $white;
    border-bottom: 1px dashed $white;
  }
  .welcome-img-cnt{
    width: 50%;
    display: inline;
    img{
      width: 75%;
      border: 1px solid $white;
      margin-bottom: 5px;
      margin-left: 12.5%;
    }
  }
}