@import "variables";

.interests{
  background-color: $purple-alpha;
  padding: 1px 20px 10px;
  p{
    color: $white - #222;
    font-size: 17px;
  }
  .int-img{
    width: 50%;
    display: block;
    margin-top: 20px;
    margin-left: 25%;
    border: $white solid 1px;
  }
}