@import "variables";

.portfolio {
  background-color: $green-alpha;
  padding: 1px 20px 10px;
  .header{
    margin: 30px 50px;
    .head{
      h1{
        font-size: 50px;
      }
    }
  }
  .sub-head{
    margin-left: 10px;
    width: 250px;
    border-left: 1px solid #dadada;
    p{
      padding: 0px 0px 0px 10px;
      margin: 0px;
      color: $white;
    }
  }
  .nav-tabs{
    .work, .education, .experiences{
      margin-left: 0;
      a{
        background-color: $green-alpha - #222;
        color: $white;
      }
    }
    margin-bottom: 0;
    li.active a{
      background-color: $white;
      color: $copy-black;
    } 
    li:hover a{
      color: #fff;
      background-color: $green-alpha - #333;
      border-color: $green-alpha - #333;
    }

    li.active:hover a{
      background-color: $white;
      border-color: $white;
      color: #555;
    }
  }
  .tab-content{
    background-color: $white;
    border: 1px solid rgb(221, 221, 221);
    border-top: 0;
    margin-bottom: 20px;
    p{
      color: #333;
    }
  }
  .job-container, .edu-container, .exp-container {
    margin: 0px 20px;
    h3{
      color: $green-beta;
    }
    a {
      border-bottom: 1px dashed gray;
      color: #666;
    }
  }
  hr {
    border-top: 1px solid #555;
    border-bottom: 1px solid #777;
  }
}