.portfolio{
  .header{
    margin: 30px 50px;
  }
  .sub-head{
    margin-left: 10px;
    width: 250px;
    p{
      padding: 5px 0px 5px 10px;
      border-left: 1px solid black;
    }
  }
  .nav-tabs{
    .work, .education, .experiences{
      margin-left: 0;
      a{
        background-color: #dadada;
      }
    }
    margin-bottom: 0;
    li.active a{
      background-color: #fff;
    } 
    li a:hover{
      color: #666;
    }
  }
  .tab-content{
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
    border-top: 0;
  }
  .job-container{
    margin: 0px 10px;
    a {
      border-bottom: 1px dashed gray;
      color: #666;
    }
  }
}