@import "variables";

.post{
  margin:20px 0px;
  article{
    padding: 20px;
    background-color: white;
  }
  h3,h5 {
    display:inline;
    a {
      color: $primary-orange;
    }
  }
}

.new-post{
  background-color:$primary-orange;
  padding: 10px;
  text-align: center;
  border-bottom: 3px solid $dark-orange;
  border-right: 3px solid $dark-orange;
  color: white;
  font-family: 'Jura', sans-serif;
  font-size: 15px;
  font-weight: bold;
  &:hover{
    border-bottom: 3px solid $primary-orange;
    border-right: 3px solid $primary-orange;
    color: white;
    margin-top: 3px;
    padding-top:7px;
  }
}