$copy-black: #666;
$white: #fdfdfd;

//colorscheme
$header-blue: #2ABFFF;
$primary-orange: #FF9620;
$primary-blue: #0E78A6;
$dark-orange: #A65D0B;
$light-orange: #FFC585;

$orange-alpha: #E16F02;
$orange-beta: #BF5E01;
$blue-alpha: #0E78A6;
$purple-alpha: #6C0AAB;
$green-alpha: #238D43;
$green-beta: #007B25;